@import url("https://fonts.googleapis.com/css?family=Nunito");

:root {
  --username-image-size: 242px;
  --username-name-width: 316px;
  --game-image-height: 100px;
  --text-color: {{textColor}};
  --background-color: {{backgroundColor}};
  --accent-color: {{accentColor}};
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
}

* {
  font-family: Nunito, sans-serif;
  color: var(--text-color);
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================================================================================================================== */

.main-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

/* ================================================================================================================== */

@keyframes avatarOpening {
  0% {
    width: 0px;
    border-left-width: 0;
    border-right-width: 0;
  }
  1% {
    border-width: 8px;
  }
  100% {
    width: calc(var(--username-image-size) + 16px);
    border-width: 8px;
  }
}

@keyframes avatarClose {
  0% {
    width: calc(var(--username-image-size) + 16px);
    border-width: 8px;
  }
  99% {
    border-width: 8px;
  }
  100% {
    width: 0;
    border-left-width: 0;
    border-right-width: 0;
  }
}

.main-container > .avatar-wrapper {
  position: relative;
  width: 0px;
  height: calc(var(--username-image-size) + 16px);
  border: 0 solid var(--accent-color);
  border-radius: 16px;
  background: var(--background-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container > .avatar-wrapper.open {
  animation: avatarOpening 200ms linear forwards;
}

.main-container > .avatar-wrapper.close {
  animation: avatarClose 200ms linear forwards;
}

.main-container > .avatar-wrapper > img {
  width: var(--username-image-size);
}

.main-container > .avatar-wrapper > .avatar-wrapper {
  width: calc((var(--username-image-size) / 3) + 8px);
  height: calc((var(--username-image-size) / 3) + 8px);
  border-top: 8px solid var(--accent-color);
  border-left: 8px solid var(--accent-color);
  border-top-left-radius: 8px;
  background: var(--background-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(calc(var(--username-image-size) - (var(--username-image-size) / 2)), calc(var(--username-image-size) - (var(--username-image-size) / 2)));

}

.main-container > .avatar-wrapper > .avatar-wrapper > img {
  width: calc(var(--username-image-size) / 3);
}

/* ============================================================================================== */

@keyframes labelOpening {
  0% {
    width: 0px;
    border-left-width: 0;
    border-right-width: 0;
  }
  1% {
    border-width: 8px;
  }
  100% {
    width: var(--username-name-width);
    border-width: 8px;
  }
}

@keyframes labelClose {
  0% {
    width: var(--username-name-width);
    border-width: 8px;
  }
  99% {
    border-width: 8px;
  }
  100% {
    width: 0px;
    border-left-width: 0;
    border-right-width: 0;
  }
}

.main-container > .label-wrapper {
  position: relative;
  width: 0;
  height: 38px;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;

  border-left: 0 solid var(--accent-color);
  border-right: 0 solid var(--accent-color);
}

.main-container > .label-wrapper.open {
  animation: labelOpening 200ms linear forwards;
}

.main-container > .label-wrapper.close {
  animation: labelClose 200ms linear forwards;
}